:root {
    --primary-color:blue;
    --text-dark: black;
    --bg-light: white;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px
    --spacing-xl: 32px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}